{% extends "base.html" %}
{% block head %}
  <title>Password Changed</title>
  <meta name="description" content="">
  <style media="screen">
    .password_done{
      padding-top: 100px;
      text-align: center;
    }

    h1{
      text-align: center;
    }

    p{
      text-align: center;
    }
  </style>
{% endblock head %}
{% block content %}
  <div class="container-fluid password_done">
    <h1>Nice job</h1>
    <p>Your password has been changed.</p>
    <a class="btn btn-dark" href="{% url 'accounts:client_detail' pk=user.id %}">Back to Profile</a>
  </div>
{% endblock content %}
