{% extends "base.html" %}
{% block head %}
  <title>Reset Password</title>
  <meta name="description" content="">
  <style media="screen">
    input{
      display: block;
      width: 300px;
    }
  </style>
{% endblock head %}
{% block body_block %}
  <div class="container-fluid">
    <h1>Reset Password</h1>
    <p>Forgot your password? Enter your email below and we will send a link to create
      a new password for you.</p>
    <div class="form">
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-secondary" type="submit" value="Reset Password">
      </form>
    </div>
  </div>
{% endblock body_block %}
