{% extends "base.html" %}
{% block head %}
  <title>Change Password</title>
  <meta name="description" content="">
  <style media="screen">
    input{
      display: block;
      width: 300px;
    }
  </style>
{% endblock head %}
{% block content %}
  <div class="container-fluid">
    <h1>Change Password</h1>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input class="btn btn-secondary" type="submit" value="Change Password">
    </form>
  </div>
{% endblock content %}
