{% extends "base.html" %}
{% block head %}
  <title>WRA Assets</title>
  <style media="screen">
    table{
      width:100%;
      font-size: 12px;
    }
  </style>
{% endblock head %}
{% block sidebar %}
  <a class="sidebar-button" href="{% url 'admin:index' %}">Admin</a>
  <a class="sidebar-button" href="{% url 'data_app:gaugelist' %}">Rain Gauges</a>
  <a class="sidebar-button" href="{% url 'streamflow_app:fuess_list' %}">Fuess gauges</a>
  <a class="sidebar-button" href="{% url 'groundwater_app:groundwater' %}">Wells</a>
  <a class="sidebar-button" href="{% url 'asset_app:computer' %}">IT</a>
  <a class="sidebar-button" href="{% url 'asset_app:vehicle' %}">Vehicles</a>
{% endblock sidebar %}
{% block content %}
  <div class="container-fluid">
    <h1>WRA Asset Management Report</h1>
    <p>This is the asset management page. If you need to add or edit any items, visit
      <a href="{% url 'admin:index' %}">the admin page.</a>
      Otherwise, view a summary of the assets below, or click on an item in the
      sidebar to view all items.</p>

      <div class="row no-gutters">
        <div class="col-md-6 col-sm-12">
          <div class="container">
            <h3>Rainfall Gauges</h3>
            <p>There are currently {{ raincount }} rainfall gauges. {{ rainattncount }}
              gauges need attention.</p>
          </div>

          <div class="container">
            <h3>Fuess Gauges</h3>
            <p>There are currently {{ fuesscount }} fuess gauges. {{ fuessattncount }}
              gauges need attention.</p>
          </div>

          <div class="container">
            <h3>Wells</h3>
            <p>There are currently {{ wellcount }} rainfall gauges. {{ wellsattncount }}
              wells need attention.</p>
          </div>

          <div class="container">
            <h3>Requests</h3>
            <p>Requests and requisitions will be posted here?</p>
          </div>
        </div>

        <div class="col-md-6 col-sm-12">
          <div class="container">
            <h3>Attention Required</h3>
            <table>
              <thead>
                <th>Category</th>
                <th>ID</th>
                <th>Name</th>
                <th>Remarks</th>
              </thead>
              <tbody>
                {% for rain in raingauges %}
                  <tr>
                    <td>Rain Gauge</td>
                    <td>{{ rain.code }}</td>
                    <td>{{ rain.name }}</td>
                    <td>{{ rain.remarks }}</td>
                  </tr>
                {% endfor %}
                {% for river in fuess %}
                  <tr>
                    <td>Fuess Gauge</td>
                    <td>{{ river.code }}</td>
                    <td>{{ river.river }}</td>
                    <td>{{ river.remarks }}</td>
                  </tr>
                {% endfor %}
                {% for well in wells %}
                  <tr>
                    <td>Well</td>
                    <td>{{ well.index_no }}</td>
                    <td>{{ well.name }}</td>
                    <td>{{ well.remarks }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>



{% endblock content %}
{% block javascript %}

{% endblock javascript %}
