{% extends "base.html" %}
{% block head %}
  <title>Vehicles</title>

{% endblock head %}
{% block sidebar %}
  <a class="sidebar-button" href="{% url 'asset_app:asset' %}">Asset Home</a>
  <a class="sidebar-button" href="{% url 'admin:index' %}">Admin</a>
  <a class="sidebar-button" href="{% url 'data_app:gaugelist' %}">Rain Gauges</a>
  <a class="sidebar-button" href="{% url 'streamflow_app:fuess_list' %}">Fuess gauges</a>
  <a class="sidebar-button" href="{% url 'groundwater_app:groundwater' %}">Wells</a>
  <a class="sidebar-button" href="{% url 'asset_app:computer' %}">IT</a>
  <a class="sidebar-button" href="{% url 'asset_app:vehicle' %}">Vehicles</a>
{% endblock sidebar %}
{% block content %}
  <div class="container-fluid">
    <h1>Vehicles Assets</h1>
    <p>A paragraph about the vehicles.</p>

    <table id="vehiclelist">
      <thead>
        <th>Licence Plate</th>
        <th>VIM</th>
        <th>Model</th>
        <th>Value</th>
        <th>Lifespan</th>
        <th>Commission date</th>
        <th>Section</th>
        <th>Remarks</th>
      </thead>
      <tbody>
        {% for vehicle in vehicles %}
          <tr>
            <td>{{ vehicle.licence_plate }}</td>
            <td>{{ vehicle.vim }}</td>
            <td>{{ vehicle.model }}</td>
            <td>{{ vehicle.value }}</td>
            <td>{{ vehicle.lifespan }}</td>
            <td>{{ vehicle.date_comm }}</td>
            <td>{{ vehicle.section }}</td>
            <td>{{ vehicle.remarks }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}
{% block javascript %}
  <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript">
    //DataTable filter
    $(document).ready(function() {
      $('#vehiclelist').DataTable({
        "order": [ 0, 'asc' ],
        "paging": false,
        "searching": false,
        "info": false,
      });
    } );
  </script>
{% endblock javascript %}
