{% extends "base.html" %}
{% load widget_tweaks %}
{% block head %}
  <title>Create Post</title>
  <meta name="description" content="">
  <style media="screen">
    .main{
      max-width: 800px;
    }

    label{
      margin-top: 20px;
    }
  </style>
{% endblock head %}
{% block body_block %}
  <div class="container-fluid main">
    <h1>
      {% if not form.instance.pk %}
        Create Post
      {% else %}
        Update Post
      {% endif %}
    </h1>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        {{ form.title.label_tag }}<br>
        {% render_field form.title class="form-control" %}
        {{ form.text.label_tag }}
        {% render_field form.text class="form-control" %}
        {{ form.cover.label_tag }}
        {% render_field form.cover class="form-control" %}
      </div>
      <input type="submit" class="btn btn-success" style="width:100%;" value="Save">
    </form>
  </div>
{% endblock body_block %}
