{% extends "base.html" %}
{% load static %}
{% block head %}
  <meta name="description" content="Major reservoirs in Trinidad and Tobago">
  <title>Reservoirs in Trinidad and Tobago</title>
  <link rel="stylesheet" href="{% static 'css/graph.css' %}">
  <style media="screen">
    svg{
       font: 10px sans-serif;
    }

    .btn-primary{
      width:80%;
      border-radius: 0;
    }
  </style>
{% endblock head %}
{% block body_block %}
  <div class="container-fluid">
    <h1>Reservoirs</h1>
    <p>The Water Resources Agency guides the operations at the four major reservoirs
      across Trinidad and Tobago. For rainfall records, please navigate to the rainfall
      pages. The historical levels and production will be kept track of here.</p>
  </div>

  <div class="container-fluid">
    <h4>Caroni-Arena</h4>
    <div class="row">
      <div id="caronidiv" class="col-md-7">
        <svg id="caronisvg"></svg>
      </div>
      <div class="col-md-5">
        <p>Description of current levels and projections</p>
        <div style="text-align:center;">
          <a class="btn btn-primary" href="{% url 'reservoir_app:caroni' %}">Caroni-Arena</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <h4>Navet</h4>
    <div class="row">
      <div id="navetdiv" class="col-md-7">
        <svg id="navetsvg"></svg>
      </div>
      <div class="col-md-5">
        <p>Description of current levels and projections</p>
        <div style="text-align:center;">
          <a class="btn btn-primary" href="{% url 'reservoir_app:navet' %}">Navet</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <h4>Hollis</h4>
    <div class="row">
      <div id="hollisdiv" class="col-md-7">
        <svg id="hollissvg"></svg>
      </div>
      <div class="col-md-5">
        <p>Description of current levels and projections</p>
        <div style="text-align:center;">
          <a class="btn btn-primary" href="{% url 'reservoir_app:hollis' %}">Hollis</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <h4>Hillsborough</h4>
    <div class="row">
      <div id="hillsboroughdiv" class="col-md-7">
        <svg id="hillsboroughsvg"></svg>
      </div>
      <div class="col-md-5">
        <p>Description of current levels and projections</p>
        <div style="text-align:center;">
          <a class="btn btn-primary" href="{% url 'reservoir_app:hillsborough' %}">Hillsborough</a>
        </div>
      </div>
    </div>
  </div>
{% endblock body_block %}
{% block javascript %}
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script type="text/javascript">
    var caroni = JSON.parse('{{ caroni | escapejs }}');
    var navet = JSON.parse('{{ navet | escapejs }}');
    var hollis = JSON.parse('{{ hollis | escapejs }}');
    var hillsborough = JSON.parse('{{ hillsborough | escapejs }}');
    console.log(hillsborough);
  </script>
  <script type="text/javascript">
    $(document).ready(function(){
      var margin = {top: 40, right: 30, bottom: 60, left: 60},
          width = 0.8 * document.getElementById("caronidiv").offsetWidth - margin.right - margin.left,
          height = 0.5 * width;

      var parseDate = d3.time.format("%m/%d/%Y").parse;

      var startdate = parseDate(caroni[11]["x"]),
          enddate = parseDate(caroni[0]["x"]);

      var x = d3.time.scale()
          .range([0, width])
          .domain([startdate, enddate]);

      var y = d3.scale.linear()
          .range([height, 0])
          .domain([80, 120]);

      var xAxis = d3.svg.axis()
          .scale(x)
          .orient("bottom")
          .ticks(12)
          .tickFormat(d3.time.format("%b-%Y"));

      var yAxis = d3.svg.axis()
          .scale(y)
          .orient("left")

      function make_x_axis() {
          return d3.svg.axis()
              .scale(x)
              .orient("bottom")
              .ticks(12)
      }

      function make_y_axis() {
          return d3.svg.axis()
              .scale(y)
              .orient("left")
              .ticks(10)
      }

      //Graph boundaries
      var svg = d3.select("#caronisvg")
          .attr("width", width + margin.right + margin.left)
          .attr("height", height + margin.top + margin.bottom)
        .append("g")
          .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      //grid
      svg.append("g")
            .attr("class", "grid")
            .attr("transform", "translate(0," + height + ")")
            .call(make_x_axis()
                .tickSize(-height, 0, 0)
                .tickFormat("")
            );

      svg.append("g")
          .attr("class", "grid")
          .call(make_y_axis()
              .tickSize(-width, 0, 0)
              .tickFormat("")
          )

      //Top Draw Off
      var topdrawoffdata = 120

      // var topdrawoffline = d3.svg.line()
      //   .x(function(d) { return x(parseDate(d.x));})
      //   .y(function(d) { return y(d.y);});
      //
      // svg.append("path")
      //     .attr("class", "line")
      //     .style("stroke", "red")
      //     .attr("d", levelline(hollis));

      //Reservoir Level
      var levelline = d3.svg.line()
        .x(function(d) { return x(parseDate(d.x));})
        .y(function(d) { return y(d.y);});

      svg.append("path")
          .attr("class", "line")
          .style("stroke", "red")
          .attr("d", levelline(caroni));

      //x-axis
      svg.append("g")
          .attr("class", "x axis")
          .attr("transform", "translate(0," + height + ")")
          .call(xAxis)
          .selectAll("text")
              .style("text-anchor", "end")
              .attr("dx", "-.8em")
              .attr("dy", ".15em")
              .attr("transform", "rotate(-65)");

      //y-axis
      svg.append("g")
          .attr("class", "y axis")
          .call(yAxis)
          .append("text")
          .attr("transform", "rotate(-90)")
          .attr("y", 5 - margin.left)
          .attr("x", 0 - (height / 2) - 30)
          .attr("dy", "1em")
          .style("font-size", "12px")
          .text("Water Elevation (ft)");

      //Chart title
      svg.append("text")
              .attr("x", (width / 2))
              .attr("y", 0 - (margin.top / 2))
              .attr("text-anchor", "middle")
              .style("font-size", "16px")
              .style("text-decoration", "underline")
              .text("Caroni Reservoir Level");
    });
  </script>
  <script type="text/javascript">
    $(document).ready(function(){
      var margin = {top: 40, right: 30, bottom: 60, left: 60},
          width = 0.8 * document.getElementById("navetdiv").offsetWidth - margin.right - margin.left,
          height = 0.5 * width;

      var parseDate = d3.time.format("%m/%d/%Y").parse;

      var startdate = parseDate(navet[11]["x"]),
          enddate = parseDate(navet[0]["x"]);

      var x = d3.time.scale()
          .range([0, width])
          .domain([startdate, enddate]);

      var y = d3.scale.linear()
          .range([height, 0])
          .domain([265, 315]);

      var xAxis = d3.svg.axis()
          .scale(x)
          .orient("bottom")
          .ticks(12)
          .tickFormat(d3.time.format("%b-%Y"));

      var yAxis = d3.svg.axis()
          .scale(y)
          .orient("left")

      function make_x_axis() {
          return d3.svg.axis()
              .scale(x)
              .orient("bottom")
              .ticks(12)
      }

      function make_y_axis() {
          return d3.svg.axis()
              .scale(y)
              .orient("left")
              .ticks(10)
      }

      //Graph boundaries
      var svg = d3.select("#navetsvg")
          .attr("width", width + margin.right + margin.left)
          .attr("height", height + margin.top + margin.bottom)
        .append("g")
          .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      //grid
      svg.append("g")
            .attr("class", "grid")
            .attr("transform", "translate(0," + height + ")")
            .call(make_x_axis()
                .tickSize(-height, 0, 0)
                .tickFormat("")
            );

      svg.append("g")
          .attr("class", "grid")
          .call(make_y_axis()
              .tickSize(-width, 0, 0)
              .tickFormat("")
          )

      //Top Draw Off
      var topdrawoffdata = 312

      // var topdrawoffline = d3.svg.line()
      //   .x(function(d) { return x(parseDate(d.x));})
      //   .y(function(d) { return y(d.y);});
      //
      // svg.append("path")
      //     .attr("class", "line")
      //     .style("stroke", "red")
      //     .attr("d", levelline(hollis));

      //Reservoir Level
      var levelline = d3.svg.line()
        .x(function(d) { return x(parseDate(d.x));})
        .y(function(d) { return y(d.y);});

      svg.append("path")
          .attr("class", "line")
          .style("stroke", "red")
          .attr("d", levelline(navet));

      //x-axis
      svg.append("g")
          .attr("class", "x axis")
          .attr("transform", "translate(0," + height + ")")
          .call(xAxis)
          .selectAll("text")
              .style("text-anchor", "end")
              .attr("dx", "-.8em")
              .attr("dy", ".15em")
              .attr("transform", "rotate(-65)");

      //y-axis
      svg.append("g")
          .attr("class", "y axis")
          .call(yAxis)
          .append("text")
          .attr("transform", "rotate(-90)")
          .attr("y", 5 - margin.left)
          .attr("x", 0 - (height / 2) - 30)
          .attr("dy", "1em")
          .style("font-size", "12px")
          .text("Water Elevation (ft)");

      //Chart title
      svg.append("text")
              .attr("x", (width / 2))
              .attr("y", 0 - (margin.top / 2))
              .attr("text-anchor", "middle")
              .style("font-size", "16px")
              .style("text-decoration", "underline")
              .text("Navet Reservoir Level");
    });
  </script>

  <script type="text/javascript">
    $(document).ready(function(){
      var margin = {top: 40, right: 30, bottom: 60, left: 60},
          width = 0.8 * document.getElementById("hollisdiv").offsetWidth - margin.right - margin.left,
          height = 0.5 * width;

      var parseDate = d3.time.format("%m/%d/%Y").parse;

      var startdate = parseDate(hollis[11]["x"]),
          enddate = parseDate(hollis[0]["x"]);

      var x = d3.time.scale()
          .range([0, width])
          .domain([startdate, enddate]);

      var y = d3.scale.linear()
          .range([height, 0])
          .domain([570, 630]);

      var xAxis = d3.svg.axis()
          .scale(x)
          .orient("bottom")
          .ticks(12)
          .tickFormat(d3.time.format("%b-%Y"));

      var yAxis = d3.svg.axis()
          .scale(y)
          .orient("left")

      function make_x_axis() {
          return d3.svg.axis()
              .scale(x)
              .orient("bottom")
              .ticks(12)
      }

      function make_y_axis() {
          return d3.svg.axis()
              .scale(y)
              .orient("left")
              .ticks(10)
      }

      //Graph boundaries
      var svg = d3.select("#hollissvg")
          .attr("width", width + margin.right + margin.left)
          .attr("height", height + margin.top + margin.bottom)
        .append("g")
          .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      //grid
      svg.append("g")
            .attr("class", "grid")
            .attr("transform", "translate(0," + height + ")")
            .call(make_x_axis()
                .tickSize(-height, 0, 0)
                .tickFormat("")
            );

      svg.append("g")
          .attr("class", "grid")
          .call(make_y_axis()
              .tickSize(-width, 0, 0)
              .tickFormat("")
          )

      //Top Draw Off
      var topdrawoffdata = 620

      // var topdrawoffline = d3.svg.line()
      //   .x(function(d) { return x(parseDate(d.x));})
      //   .y(function(d) { return y(d.y);});
      //
      // svg.append("path")
      //     .attr("class", "line")
      //     .style("stroke", "red")
      //     .attr("d", levelline(hollis));

      //Reservoir Level
      var levelline = d3.svg.line()
        .x(function(d) { return x(parseDate(d.x));})
        .y(function(d) { return y(d.y);});

      svg.append("path")
          .attr("class", "line")
          .style("stroke", "red")
          .attr("d", levelline(hollis));

      //x-axis
      svg.append("g")
          .attr("class", "x axis")
          .attr("transform", "translate(0," + height + ")")
          .call(xAxis)
          .selectAll("text")
              .style("text-anchor", "end")
              .attr("dx", "-.8em")
              .attr("dy", ".15em")
              .attr("transform", "rotate(-65)");

      //y-axis
      svg.append("g")
          .attr("class", "y axis")
          .call(yAxis)
          .append("text")
          .attr("transform", "rotate(-90)")
          .attr("y", 5 - margin.left)
          .attr("x", 0 - (height / 2) - 30)
          .attr("dy", "1em")
          .style("font-size", "12px")
          .text("Water Elevation (ft)");

      //Chart title
      svg.append("text")
              .attr("x", (width / 2))
              .attr("y", 0 - (margin.top / 2))
              .attr("text-anchor", "middle")
              .style("font-size", "16px")
              .style("text-decoration", "underline")
              .text("Hollis Reservoir Level");
    });
  </script>

  <script type="text/javascript">
    $(document).ready(function(){
      var margin = {top: 40, right: 30, bottom: 60, left: 60},
          width = 0.8 * document.getElementById("hillsboroughdiv").offsetWidth - margin.right - margin.left,
          height = 0.5 * width;

      var parseDate = d3.time.format("%m/%d/%Y").parse;

      var startdate = parseDate(hillsborough[11]["x"]),
          enddate = parseDate(hillsborough[0]["x"]);

      var x = d3.time.scale()
          .range([0, width])
          .domain([startdate, enddate]);

      var y = d3.scale.linear()
          .range([height, 0])
          .domain([845, 875]);

      var xAxis = d3.svg.axis()
          .scale(x)
          .orient("bottom")
          .ticks(12)
          .tickFormat(d3.time.format("%b-%Y"));

      var yAxis = d3.svg.axis()
          .scale(y)
          .orient("left")

      function make_x_axis() {
          return d3.svg.axis()
              .scale(x)
              .orient("bottom")
              .ticks(12)
      }

      function make_y_axis() {
          return d3.svg.axis()
              .scale(y)
              .orient("left")
              .ticks(10)
      }

      //Graph boundaries
      var svg = d3.select("#hillsboroughsvg")
          .attr("width", width + margin.right + margin.left)
          .attr("height", height + margin.top + margin.bottom)
        .append("g")
          .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      //grid
      svg.append("g")
            .attr("class", "grid")
            .attr("transform", "translate(0," + height + ")")
            .call(make_x_axis()
                .tickSize(-height, 0, 0)
                .tickFormat("")
            );

      svg.append("g")
          .attr("class", "grid")
          .call(make_y_axis()
              .tickSize(-width, 0, 0)
              .tickFormat("")
          )

      //Top Draw Off
      var topdrawoffdata = 620

      // var topdrawoffline = d3.svg.line()
      //   .x(function(d) { return x(parseDate(d.x));})
      //   .y(function(d) { return y(d.y);});
      //
      // svg.append("path")
      //     .attr("class", "line")
      //     .style("stroke", "red")
      //     .attr("d", levelline(hollis));

      //Reservoir Level
      var levelline = d3.svg.line()
        .x(function(d) { return x(parseDate(d.x));})
        .y(function(d) { return y(d.y);});

      svg.append("path")
          .attr("class", "line")
          .style("stroke", "red")
          .attr("d", levelline(hillsborough));

      //x-axis
      svg.append("g")
          .attr("class", "x axis")
          .attr("transform", "translate(0," + height + ")")
          .call(xAxis)
          .selectAll("text")
              .style("text-anchor", "end")
              .attr("dx", "-.8em")
              .attr("dy", ".15em")
              .attr("transform", "rotate(-65)");

      //y-axis
      svg.append("g")
          .attr("class", "y axis")
          .call(yAxis)
          .append("text")
          .attr("transform", "rotate(-90)")
          .attr("y", 5 - margin.left)
          .attr("x", 0 - (height / 2) - 30)
          .attr("dy", "1em")
          .style("font-size", "12px")
          .text("Water Elevation (ft)");

      //Chart title
      svg.append("text")
              .attr("x", (width / 2))
              .attr("y", 0 - (margin.top / 2))
              .attr("text-anchor", "middle")
              .style("font-size", "16px")
              .style("text-decoration", "underline")
              .text("Hillsborough Reservoir Level");
    });
  </script>
{% endblock javascript %}
