{% extends "base.html" %}
{% block title %}
  <meta name="description" content="Terms and conditions of using the WRA website">
  <title>Legal</title>
{% endblock %}
{% block body_block %}
  <div class="container">
    <h1>Legal</h1>
    <p>This website is in no way affiliated with the Water and Sewerage Authority
      of Trinidad and Tobago, or any other government entity. This website was made
      as part of the requirement for a Msc in geoinformatics at the University of
      the West Indies, St. Augustine campus. As such, any information obtained from
      this website cannot be considered to be accurate or reliable.</p>
    <p>Requests for similar data found on this website must be made through the
      Water Resources Agency, Trinidad and Tobago, by form of a letter addressed to the Head.</p>
  </div>
{% endblock %}
